[submodule ".registry"]
	path = .registry
	url = https://github.com/nfrerebeau/nfrerebeau.r-universe.dev
	branch = HEAD
[submodule "odyssey"]
	path = odyssey
	url = https://codeberg.org/nfrerebeau/odyssey
	branch = main
